/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    caret-color: transparent;
}

main,
header,
footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    margin: 0;
}

img {

    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0px;

}

i#greyStar {
    color: #F2F2F2;
}

.boxing-texte p {
    font-size: 14px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 79px;
}

header img {
    height: 19px;
    padding: 30px;
}

nav {
    width: 20%;
}

header ul li {
    list-style-type: none;
}

.header_button {
    display: flex;
    justify-content: flex-end;
    gap: 69px;
    height: 100%;
    align-items: baseline;
    color: #000000;
}

.header_nav_acti:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 14px;
}

.header_nav_heber:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 14px;
}

.info_group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    isolation: isolate;
    padding: 35px;
    padding-top: 0;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    gap: 8px;

}

.headline_sous_titre {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 372px;
    height: 49px;
}

.group_15 {
    border: grey;
    width: 50px;
    height: 49px;
}

.rectangle_14 {

    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 100%;
}

.fa-location-dot {
    color: black;
    width: 14px;
    height: 100%;
    padding-left: 18px;
    padding-top: 15px;
    color: #000000;
}

.marseille {
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    border: 1px solid #F2F2F2;

}

.button_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    height: 100%;
}

.button_search_mobile {
    display: none;
}

.button_search_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.filter_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.filter_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filter_text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.filter_flex {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 3em;
}

.filter_flex:hover {
    background: #DEEBFF;
}

.filter_icon {

    color: #0065FC;
}

.filters_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.infobar_icon {
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}

.infobar_icon i {
    padding-left: 8px;
    padding-right: 8px;
    color: #0065FC;
}

.hebergements_et_populaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.hebergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    margin: 0px 20px 0px 20px;
    width: 68%;
}

.hebergements ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

.hebergements li {
    background-color: white;
    border-radius: 20px;
    border: solid 4px white;
    height: 210px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.boxing-texte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.hebergements ul li a .boxing {
    height: 8rem;
}

.hebergements ul li a .boxing-texte p {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}

.hebergements ul li a .boxing-texte {
    height: 70px;
}

.hebergements ul li a .boxing img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.hebergements ul li a {
    position: relative;
    bottom: 0;
}

.hebergements ul li a span {
    flex-direction: row;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}

.populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 15px;
    list-style-type: none;
    padding: 15px;
}

.populaires_titre {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.populaires ul {
    display: grid;
    gap: 20px;
    padding-left: 0;
}

.populaires li {
    background-color: white;
    border-radius: 20px;
    border: solid 4px white;
    list-style-type: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.populaires ul li a {
    display: flex;
    align-items: stretch;
}

.populaires ul li a .boxing {
    height: 136px;
}

.populaires ul li a .boxing img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.populaires ul li a .boxing-texte p {
    margin-top: 0;
}

.populaires ul li a .boxing-texte {
    padding-left: 13px;
    padding-bottom: 7px;
    padding-top: 4px;
}

.populaires ul li a span {
    flex-direction: row;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}

.activites {
    list-style-type: none;
    margin: 20px 20px 20px 20px;
    padding: 15px;
}

.activites .boxing-texte {
    padding-left: 15px;
}

.activites ul {
    display: flex;
    gap: 20px;
}

.activites li {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style-type: none;
    width: 23%;
}

.activites ul li a .boxing-texte {
    display: flex;
    justify-content: center;
    height: 3rem;
}

.activites ul li a .boxing img {
    height: 23rem;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.activites ul li a {
    position: relative;
    background-color: white;
    border-radius: 15px;
}

section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    color: #000000;
    text-decoration: none;
}

.neutralStar {
    color: #F2F2F2;
}

.fa-xs {
    color: #0065FC;
}

.fa-chart-line {
    color: #0065FC;
}


.footer {
    display: flex;
    padding: 20px;
    background: #F2F2F2;
    gap: 16%;
}

.footer-a-propos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.footer-nos-hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.footer-assistance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-top: 0;
}

.footer-title {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-left: 20px;
    margin-bottom: 0;
}

.footer-liens {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
    padding-left: 20px;
    list-style-type: none;
    margin-top: 15px;
}

.footer_liens_clique {
    color: #000000;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .filter_bar {
        flex-wrap: wrap;
    }

    .filter_text {
        text-align: start;
        width: 100%;
    }

    .filter_line {
        padding-left: 0;
    }

    .hebergements_et_populaires {
        flex-wrap: wrap;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        margin-top: 50px;
        width: 100%;
    }

    .populaires ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .activites ul li a .boxing img {
        height: 12rem;
    }
}

@media (max-width: 1024px) {
    .populaires ul li a .boxing img {
        width: 98px;
    }

    .hebergements {
        margin: 0;
    }
}

@media (max-width: 768px) {

    main,
    header,
    footer {
        padding: 0;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header_logo {
        padding-left: 43%;
    }

    .header_nav {
        padding-left: 0;
        padding-right: 0;
    }

    .main-container {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .header_nav_heber:hover {
        display: flex;
        justify-content: center;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: 0;
        width: 100%;
        padding-bottom: 15px;
    }

    .header_nav_acti:hover {
        display: flex;
        justify-content: center;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: 0;
        width: 100%;
        padding-bottom: 15px;
    }

    .header ul li {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }

    .header_button {
        gap: 0;
        padding: 0;
        margin: 0;
    }

    nav {
        width: 100%;
    }

    .header {
        height: 100%;
    }

    .header_button li a {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 15px;
        width: 100%;
    }

    .info_group {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search_bar {
        width: 100%;
    }

    .button_search_text {
        display: none;
    }

    .button_search {
        display: none;
    }

    .button_search_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 16px 16px 16px;
        gap: 10px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .fa-magnifying-glass {
        color: #FFFFFF;
    }

    .filter_bar {
        flex-wrap: wrap;
    }

    .filter_flex {
        width: 48%;
        justify-content: center;
    }

    .filters_text {
        font-size: 14px;
    }


    .infobar {
        gap: 0;
        padding-top: 0;
    }

    .infobar_text {
        margin-left: 10px;
    }

    .hebergements_et_populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .populaires h2 {
        padding-left: 10px;
        margin-bottom: 0;
    }

    .populaires ul {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .populaires ul li a .boxing img {
        width: 120px;
    }

    .hebergements {
        width: 92%;
        padding: 15px;
        margin: 0;
        background-color: #FFFFFF;
    }

    .hebergements ul {
        grid-template-columns: 1fr;
    }

    .hebergements ul li {
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .activites ul {
        flex-direction: column;
        padding: 0;
    }

    .activites li {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        padding: 0;
        margin: 0;
        padding-top: 15px;
    }

    .fa-chart-line {
        color: #0065FC;
    }
}

@media (max-width: 420px) {
    .filter_line {
        gap: 10px;
    }
}